[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-extensions = "*"
ipython = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.9"
